@model Socks

@{

    ViewData["Title"] = "Ponožky - Detail";
}

<h1>Detail ponožky</h1>

<p>
    <strong>Značka:</strong> @Model.Brand
</p>
<p>
    <strong>Velikost:</strong> @Model.Size
</p>
<p>
    <strong>Velikost:</strong> @Model.Price Kč
</p>
<p>
    <strong>Skladem:</strong> @Model.OnStock
</p>